:root {
    --color-sea-green: hsl(192, 37%, 48%);
    --color-dark-purple: hsl(258, 34%, 53%);
    --color-light-purple: hsl(268, 100%, 86%);
    --color-grey: hsl(240, 10%, 57%);
    --color-dark-grey: hsl(240, 21%, 20%);
    --color-cyan: hsl(192, 90%, 77%);
    --color-white: hsl(0, 0%, 98%);

}
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 1rem;   
}
.header {
    text-align: center;
    padding: 3rem 0;
}
.people {
    width: 100%;
    min-height: 13rem;
    background-image: url('assets/tablet/image-hero.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.content {
    text-align: center;
}
.content__header {
    line-height: 1.3;
    font-weight: 900;
    font-size: 2rem;
}
.content__paragraph {
  padding: 0 2rem;
  font-weight: 500;
  line-height: 1.4;
  margin-bottom: 1.7rem;
}
.content__link, .content__button {
    display: inline-block;
    text-decoration: none;
    padding: 1rem 1.6rem;
    color: var(--color-white);
    border-radius: 10rem;
    border: none;
    font-weight: 500;
    margin: 0 0.6rem;
}
.content__link {
    background-color: var(--color-sea-green);
}
.content__button {
    background-color: var(--color-dark-purple);
}
